# --- DEPENDENCIAS ---
**/packages/
**/node_modules/

# --- RESULTADOS DE BUILD (Basura generada al compilar) ---
**/[Bb]in/
**/[Oo]bj/
*.bin

# --- VISUAL STUDIO (Archivos temporales y de usuario) ---
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# --- RIDER / OTROS EDITORES ---
.idea/

# --- SEGURIDAD (Secretos - NUNCA SUBIR) ---
.env
**/.env

# --- ARCHIVOS DE USUARIO ESPECÍFICOS ---
*.rsuser