# Dependencies
**/packages/
**/node_modules/

# Build results
**/[Bb]in/
**/[Oo]bj/

# Visual Studio specific
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider specific
.idea/

# User-specific files
*.rsuser